.bmc-icon {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiP…I0Ni4xNDktMzA5LjIyNi0yNDcuMDItMzA5LjIyNiIvPg0KCTwvZz4NCjwvZz4NCjwvc3ZnPg0K');
    width: 91px;
    height: 38px;
    float: left;
}



